# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage
build/
PINNICLE.egg-info/

# Sphinx documentation
docs/_build/
docs/build/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

