# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage

# results file
*.pt

# Sphinx documentation
docs/_build/
docs/build/

# Jupyter Notebook
.ipynb_checkpoints

# codex
.codex/

# VSCode
.vscode/

